<div class="container">
	<div class="page-header">
		<h1>Upload Your Library File</h1>
	</div>
	<p class="lead">Pick an .lbr file to upload. At the moment, Footprint can only accept EAGLE XML files.</p>
	<div ng-controller="ShareCtrl" id="upload-body">
		<div class="fileUpload btn btn-primary">
			<span><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> Select File</span>
			<input type="file" file-model="file" class="upload">
		</div>
		<div class="panel panel-default progress-panel" ng-show="file">
			<div class="panel-heading">File Selected</div>
			<div class="panel-body">
				{{ file.name }}: {{ file.size/1000 | number: 2 }} MB
			</div>
		</div>
		<button class="btn btn-success" ng-click="upload(file)" ng-show="file">Upload</button>
		<button class="btn btn-danger" ng-click="upload.abort()" ng-show="file">Cancel</button>
</div>
<foot></foot>
