#upload-body {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.progress-panel {
	width: 75%;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
}

.fileUpload {
	position: relative;
	overflow: hidden;
	margin: 10px;
}

.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
